{{!< html}}
<h2>You are leaving this hub lab</h2>
<h3>Destination: {{ to }}</h3>
<a href="{{ to }}" target="_top"><button class="btn btn-primary">Continue</button></a>
<button class="btn" onclick="javascript:history.back()">Go back</button>
