{{!< html}}
<script src="{{static-root}}/js/lib/iframeResizer.contentWindow.js"></script>
<script src="{{static-root}}/js/lib/jquery.min.js"></script>
<link rel="stylesheet" href="{{static-root}}/css/core.css" />
<div class="warning" style="display: none">
	<h3>Security warning</h3>
	<p>Your web browser does not appear to support the content security policy directive, which restricts how dynamic content on web pages is loaded to a subset of methods that are less accessible to attackers.</p>
	<p>This may render you vulnerable to attacks that other users are protected against.</p>
	<p>If you choose to continue with this browser, be particularly cautious of downloaded files and of anything asking for sensitive information.</p>
	<p><h4>Browsers that support content security policy:</h4></p>
	<table>
		<thead>
			<tr><th>Browser</th><th>Minimum version</th><th>Minimum version, mobile devices</th></tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="https://www.mozilla.org/firefox">Mozilla Firefox</a></td>
				<td>47</td>
				<td>48</td>
			</tr>
			<tr>
				<td><a href="https://www.google.com/chrome/browser/">Google Chrome</a></td>
				<td>49</td>
				<td>51</td>
			</tr>
			<tr>
				<td><a href="https://support.apple.com/downloads/#safari">Apple Safari</a></td>
				<td>9.1</td>
				<td>9.2</td>
			</tr>
			<tr>
				<td><a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a></td>
				<td>13</td>
				<td>N/A</td>
			</tr>
		</tbody>
	</table>
	<a class="forward" href="/hubpub/verify-cookie">
		<button class="continue btn btn-danger">Continue</button>
	</a>
	<p style="clear: both"></p>
</div>
<p class="throbber">Initializing session...</p>
<script>window.executedInline = true;</script>
<script src="{{static-root}}/js/start-session.js"></script>
