body {
	background: #fff;
}
.throbber {
	background: url('../img/throbber.gif') no-repeat 0px 4px;
	padding-left: 50px;
	display: inline-block;
}
.warning {
	background: #fff3f3;
	border-radius: 6px;
	padding: 20px;
	margin: 10px;
	max-width: 650px;
}
.warning h3, .warning h4 {
	font-size: medium;
	margin: 0;
	font-weight: bold;
	color: #900;
}
.warning h3 {
	margin-bottom: 8px;
}
.warning h4 {
	font-size: small;
	margin: 16px;
	margin-top: 32px;
	margin-bottom: 0;
}
.warning table {
	width: 90%;
	margin-left: 16px;
}
.warning th {
	font-size: small;
}
.warning td {
	background: #fdfdfd;
}
.warning td, .warning th {
	padding: 2px 4px;
	border-bottom: 1px solid #ddd;
}
.warning button {
	margin-top: 32px;
	float: right;
}
body {
	min-height: 500px;
}
